/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image:url('./images/Object.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top top;
    color: white;
}

/* Header */
.main-header {
    position: absolute;
    width:  1103.41px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    display: flex; /* جعل العناصر في صف واحد */
    align-items: center; /* محاذاة العناصر عموديًا */
    justify-content: space-between; /* توزيع العناصر بشكل متساوٍ */
    /* padding: 0 40px; */
    width: 1103.41px;
height: 29.46px;
top: 35.02px;
left: 171.59px;
padding: 0px;
gap: 0px;
opacity: 0px;

    
}

.main-header nav {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .logo {
    height: 50px;
    display: flex;
}

.main-header .nav-links {
    list-style: none; 
    display: flex; 
    gap: 20px; 
     /* margin: 0;  */
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1014px;
    background-color: red;
    
}

.main-header .nav-links li a {
    text-decoration: none; /* إزالة التسطير */
    color: white; /* لون النص */
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1014px;
}

.main-header .nav-links li a:hover {
    color: #C271FF; 
}

/**** Hero Section ****/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    position: absolute;
    font-size: 120px;
    line-height: 151px;
    font-weight: 700;
    width: 684px;
height: 151px;
top: 220px;
left: 377px;
gap: 0px;
opacity: 0px;

}

.hero .categories span {
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px;
   
}
.hero .categories {
    top: 361px;
    position: absolute;
}
.hero .cta-button {
    margin-top: 20px;
    /* padding: 15px 30px; */
    background: #C271FF;
    color: white;
    border: none;
    border-radius: 22px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    width: 162px;
height: 44px;
top: 419px;
/* left: 639px; */
gap: 0px;
opacity: 0px;
position: absolute;
font-family: Source Sans Pro;
font-size: 14px;
line-height: 17.6px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.hero .cta-button:hover {
    background: #A85CE3;
}

/* Pros Section */
.pros-section {
    padding: 60px 40px;
    text-align: center;
    position: absolute;
    color: white;
    margin-bottom: 40px;
    width: 261px;
height: 40px;
top:758px;
left: 217px;
gap: 0px;
opacity: 0px;
}

.pros-section h2 {
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    color: #C271FF;
    margin-bottom: 40px;
    width: 261px;
height: 40px;
top: 631px;
left: 604px;
gap: 0px;
opacity: 0px;
position: absolute;

}

.pros {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 1009px;
height: 237px;
top: 758px;
left: 217px;
gap: 0px;
opacity: 0px; 
/* position: absolute;*/

}

.pro {
    text-align: center;
    max-width: 200px;
position: absolute;
width: 150px;
height: 237px;
top: 758px;
left: 217px;
gap: 0px;
opacity: 0px;

}

.pro .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.pro h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

.pro p {
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
}