.what-we-do {
    padding: 50px 20px;
    text-align: center;
    margin-block: 50px;
    position: relative;
    background-color: #f4f4f4;
  }
  .what-we-do .part {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  .what-we-do h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .what-we-do p {
    font-size: 1rem;
    color: #555;
    max-width: 637px;
    display: flex;
    justify-content: center;
    align-items: center;
  }