.dark {
    background-image: url(./images/background1.png);
    max-width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .dark {
      background-image: url(./images/background.png);
      max-width: 100%;
      height: 1491px;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .dark .container {
    text-align: center;
    color: #f4f4f4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  .dark .container * {
    padding-bottom: 10px !important;
  }
  .dark .container .title {
    top: 141px;
  }
  .title h3 {
    font-size: 32px;
  }
  .dark .container .icons2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
    gap: 15px;
    padding: 10px;
  }
  
  .dark .container .icons2 .icon2 {
    flex-grow: 1;
    display: flex;
    flex-basis: 190px;
    padding: 20px;
    text-align: center;
  }
  .dark .container .icons2 .icon2 {
    background-image: url(./images/pentagone.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    background-position: center center;
    display: flex;
    justify-content: space-around !important;
    width: 190px;
    height: 190px;
  }
  
  .icon2 h2 {
    font-size: 46px;
    height: 26px;
    font-weight: bold;
  }
  .icon2 p {
    font-size: 14px;
    height: 26px;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Form container */
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10px !important;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  
  .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    /* max-width: 400px; */
    /* padding-left: 33%; */
  }
  
  /* Heading */
  .form-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    left: 50%;
    transform: translate(50%);
    justify-content: center;
    align-items: center;
  }
  .form .container form button {
    background-color: var(--primary-color);
    width: 162px;
    height: 44px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  label {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
  }
  
  /* Input and textarea styles */
  input,
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
    font-size: 1rem;
    outline: none;
    background: none;
  }
  
  input:focus,
  textarea:focus {
    border-bottom: 1px solid #ff6565;
    box-shadow: none;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .footer {
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .div-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .social {
    display: flex;
    justify-content: space-evenly;
  }
  
  .soc {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 10px !important;
  }
  @media (max-width: 768px) {
    .footer .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .container .div-footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  
  
  
  @media screen and (max-width: 480px) {
    .flexcontainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      flex-direction: column;
    }
    .flexcontainer h4 {
      text-align: center;
    }
    .flexcontainer p {
      width: 207px;
      text-align: center;
    }
  
    .penflex {
      display: flex;
  
      flex-direction: column;
    }
  
    /* Form container */
    .form .container {
      /* background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center; */
    }
  
    /* Heading */
    .form .container h2 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      color: #2c2c2c;
    }
  
    /* Form styles */
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  
    label {
      font-size: 0.9rem;
      color: #555;
      text-align: left;
    }
  
    /* Input and textarea styles */
    input,
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem 0;
      font-size: 1rem;
      outline: none;
      background: none;
    }
  
    input:focus,
    textarea:focus {
      border-bottom: 1px solid #ff6565;
      box-shadow: none;
    }
  
    textarea {
      resize: none;
      height: 100px;
    }
    .s2div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .s2div1 p {
      text-align: center;
    }
  }
  
  
  
  
  button {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
    box-shadow: 0 0 5px #ff6565,  
                /* 0 0 15px #ff6565, */
                /* 0 0 20px #ff6565, */
                0 0 0px #ff6565;
    background-color: transparent; 
    color: #03e9f4; 
    border: 2px solid #ff6565; 
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    
    text-transform: uppercase;
    transition: all 0.3s ease;
    animation: pulse 2s infinite;
  }
  
  button:hover {
    box-shadow: 0 0 10px #ff6565,
                0 0 20px #ff6565,
                0 0 40px #ff6565,
                0 0 200px #ff6565; 
    color: white; 
    background-color: #ff6565; 
    transition: all 0.3s ease;
  }
  
  @keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 5px #ff6565,
                    0 0 15px #ff6565,
                    0 0 25px #ff6565,
                    0 0 100px #ff6565;
    }
    50% {
        box-shadow: 0 0 10px #ff6565,
                    0 0 30px #ff6565,
                    0 0 50px #ff6565,
                    0 0 200px #ff6565;
    }
  }
  button {
    animation: pulse 2s infinite;
  }
  